    <style>
      #container {
        width: 100%;
        height: 200px;
        position: relative;
      }
      html {
        background-color: #201c1c;
      }
      .welcome {
        display: flex;
        justify-content: center;
      }
      
      #staffan {
        width: 10%;
        height: auto;
        position: absolute;
        transition: transform 0.5s ease-in-out;
      }
    </style>
